html {
  scroll-behavior: smooth; }

nav ul {
  background: #fff0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5em; }
nav a {
  color: black;
  text-decoration: none; }

header {
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif; }
  header p {
    font-size: 2em; }
  header span {
    font-size: 3em; }

.about-me {
  font-size: 2em; }

article {
  font-family: 'Yanone Kaffeesatz', sans-serif; }
  article h2 {
    font-size: 2em;
    color: black; }
  article .work {
    color: black; }
    article .work h1 {
      font-size: 3em; }
  article .grid-container {
    font-family: 'Basic', sans-serif; }
  article .grid-item {
    font-size: 20px; }

.skills {
  color: black; }

body {
  margin: 0;
  padding: 0; }

.navColor {
  background-color: rgba(250, 240, 230, 0.9); }

nav {
  background: inherit;
  position: fixed;
  width: 100%; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    left: 80%; }
  nav li {
    display: inline-block; }
  nav a {
    display: inline-block;
    padding: 18px 16px; }
  nav #aboutList {
    position: absolute;
    display: block;
    padding: 12px 16px; }
  nav #about-me:hover #aboutList {
    display: inline-block; }
  nav .dropdown {
    position: relative;
    display: inline-block; }
  nav .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  nav .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  nav .dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.3); }
  nav .dropdown:hover .dropdown-content {
    display: block; }
  nav .dropdown:hover .dropbtn {
    background-color: #3e8e41; }
  nav img {
    position: absolute;
    height: 100px;
    width: 100px; }

header {
  padding: 20px;
  height: 100vh;
  position: justify; }
  header span {
    display: block;
    margin: 0 auto; }
  header h1 {
    margin-top: 80px; }

.about-me {
  height: 50vh;
  position: justify;
  display: flex;
  align-items: center;
  justify-content: center; }
  .about-me div {
    display: block; }

article {
  text-align: center; }
  article h2 {
    padding: 10px; }
  article .work {
    text-align: center; }
    article .work .grid-containerWork {
      display: grid;
      height: 80vh;
      align-content: space-evenly;
      grid-template-columns: auto auto auto;
      grid-gap: 10px; }
      article .work .grid-containerWork img {
        width: 350px;
        height: auto; }

.work {
  width: 80%;
  margin: auto; }

.grid-container {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto auto;
  padding: 10px;
  padding: 40px;
  position: relative; }

.container {
  display: grid;
  height: 100vh;
  align-content: space-evenly;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  width: 80%;
  margin: auto; }

.skills {
  display: flex;
  height: 15vh;
  align-items: center;
  grid-template-columns: 6fr;
  grid-gap: 10px;
  justify-content: space-evenly; }
  .skills img {
    width: 80px;
    height: auto; }

nav #about-me:hover #aboutList {
  color: red; }

header {
  background: url(../img/rainstand-2014-10-23_PA230967.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.about-me {
  background-color: rgba(255, 255, 255, 0.8); }

article {
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  z-index: 100; }
  article h2 {
    background-color: white; }
  article .work {
    background-color: white; }
  article .grid-container {
    background-size: cover; }
  article .grid-item {
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform .2s;
    color: white; }
  article .grid-item:hover {
    transform: scale(1); }

#skills {
  background-color: white; }

.skills {
  background-color: white; }

/*# sourceMappingURL=main.css.map */
