html {
    scroll-behavior: smooth;
}

nav {
    ul {
        background: #fff0;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 1.5em;
    }
    a {
        color: black;
        text-decoration: none;
    }
}

header {
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    p {
        font-size: 2em;
    }
    span {
    font-size: 3em;
    }    
}

.about-me {
    font-size: 2em;
}

article {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    h2 {
        font-size: 2em;
        color: black;
    }

    .work {
        color: black;
        h1 {
            font-size: 3em;
        }
    }
    .grid-container {
            // color: white;
            font-family: 'Basic', sans-serif;
    }

    .grid-item {
        font-size: 20px;
        // color: white;
    }
}

.skills {
    color: black;
}
