nav {
    #about-me:hover #aboutList {
        color: red;
    }
}

header {
    background: url(../img/rainstand-2014-10-23_PA230967.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.about-me {
    // background-color: linen;
    background-color: rgba(255, 255, 255, 0.8);
}

article {
    background: url(../img/wallpaper2you_512053.jpg);
    // background-color: rgb(240, 195, 180);
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    z-index: 100;
    h2 {
        background-color: white;
    }

    .work {
        background-color: white;
        // background-color: linen;
        // background-color: rgba(255, 255, 255, 0.8);
        // background-color: rgba(0, 0, 0, 0.5);
        .grid-containerWork {
            // background-color: white;
        }
    }

    .grid-container {
        // background-image: url(../img/b6.jpg);
        background-size: cover;
    }
    
    
    .grid-item {
    //   background-color: rgba(255, 255, 255, 0.8);
        // background-color: linen;
        background-color: rgba(0, 0, 0, 0.5);
        transition: transform .2s;
        color: white;
    }
    
    .grid-item:hover {
      transform: scale(1);
    }
    
}

#skills{
    background-color: white;
}
.skills {
    background-color: white;
}

footer {
    .logos {
        height: 50px;
        width: 50px;
    }
}