body {
    margin: 0;
    padding: 0;
}

.navColor {
    background-color: rgba(250, 240, 230, 0.9);
}

nav {
    background: inherit;
    position: fixed;
    width: 100%;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        left: 80%;
    }
    li {
        display: inline-block;
    }
    a {
        display: inline-block;
        padding: 18px 16px;
    }
    #aboutList{
        position: absolute;
        display: block;
        padding: 12px 16px;
    }

    #about-me:hover #aboutList {
        display: inline-block;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {background-color: rgba(0,0,0,0.3);}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: #3e8e41;}

    img {
        position: absolute;
        height: 100px;
        width: 100px;
    }
}

header {
    padding: 20px;
    height: 100vh;
    position: justify;
    span {
        display: block;
        margin: 0 auto;
    }
    h1 {
        margin-top: 80px;
    }    
}

.about-me {
    height: 50vh;
    position: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        display: block;
    }
}

article {
    text-align: center;
    h2 {
        padding: 10px;
    }
    .work {
        text-align: center;
        .grid-containerWork {
            display: grid;
            height: 80vh;
            align-content: space-evenly;
            grid-template-columns: auto auto auto;
            grid-gap: 10px;
            img {
                width: 350px;
                height: auto;
            }
        }
    }
}